
.top {
    background-color: #800000  ;
    font-weight:bold;
    position: fixed;
    top:0; left:10px; right:10px;
    height: 82px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-align: right;
}
.left {
    color : black;
    font-weight: bold;
    background-color: #800000  ;
    position:fixed;
    left:10px; top:100px; bottom: 0;
    width: 200px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-align: center;

}
.main {
    font-weight: bold;
    background-color:#585858;
    color: white;
    margin-top :100px;
    margin-left: 215px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-align: center;
}
.mainpp {
    font-weight: bold;
    background-color:#585858;
    color: #800000;
    margin-top :100px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-align: center;
}

